<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="height=device-height,width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">

  <title>TuneClout Discovery Page</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application.js" %>
  <%= csrf_meta_tags %>

  <link type="text/css" href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' >
  <link type="text/css" href="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.css" rel="stylesheet"  >
  <link type="text/css" href="/assets/discovery.css" rel="stylesheet" >
  <link type="text/css" href="/assets/cart.css" rel="stylesheet" >

  
  <script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script> 
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script> 
  <script type="text/javascript" src="/assets/facebook.js" ></script> 
  <script type="text/javascript" src="/assets/jplayer/jquery.jplayer.min.js"></script> 
  <script type="text/javascript" src="/assets/jplayer/trackplayer.js" ></script> 

  <script type="text/javascript">
    $(document).ready(function(){

      <!-- Start of player controls -->
      var tracks = <%= raw @tracks.to_json %>;
      if (typeof i == 'undefined') {
        var i = 0;
      }

      $("#next").click(function(){
        if (i == (tracks.length - 1)) {
          i = 0;
        } else {
          i += 1;
        }
        alert(i);
        nextsong(tracks[i].url);
      });

      $("#prev").click(function(){
        if (i == 0){
          i = tracks.length - 1;
        } else {
          i -= 1;
        }
        prevsong(tracks[i].url);
      });

      $("#jquery_jplayer_1").jPlayer({
        ready: function () {
          $(this).jPlayer("setMedia", {
            mp3: "https://s3.amazonaws.com/cloutmvpmp3/allineed.mp3"
          });
        },
        ended: function() {
          if (i == (tracks.length - 1)) {
            i = 0;
          } else {
            i += 1;
          }
          nextsong(tracks[i].url);  
        },
        swfPath: "/js",
        supplied: "mp3",
        cssSelectorAncestor: "",
        cssSelector: {
          play: "#play",
          pause: "#pause",
          currentTime: "#currentTime",
          duration: "#duration",
          seekBar:"#seek",
          playBar:"#playBar"
        }    
      });<!-- End of player controls -->

       
    });<!-- end doc ready -->

  </script>
  

   <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
  <div id="fb-root"></div>
  <div id="jquery_jplayer_1" class="jp-jplayer"></div>
  <script type="text/javascript">
    window.fbAsyncInit = function() {
        // init the FB JS SDK
        FB.init({
          //appId      : '681469378534074',
          appId      : '115393751997458',               // App ID from the app dashboard

          channelUrl : '/channel.html',                  // Channel file for x-domain comms
          status     : true,                            // Check Facebook Login status
          frictionlessRequests : true,                  // enable frictionless requests
          xfbml      : true                             // Look for social plugins on the page
        });

        // Additional initialization code such as adding Event Listeners goes here
        
        FB.getLoginStatus(function(response) {
          if (response.status === 'connected') {
            // the user is logged in and has authenticated your
            // app, and response.authResponse supplies
            // the user's ID, a valid access token, a signed
            // request, and the time the access token 
            // and signed request each expire
            var uid = response.authResponse.userID;
            var accessToken = response.authResponse.accessToken;
            alert("the user is connected Facebook");
          } else if (response.status === 'not_authorized') {
            // the user is logged in to Facebook, 
            // but has not authenticated your app
            alert("the user isnt logged in to Facebook");
          } else {
             alert("the user isnt logged in to Facebook");
          }
        }); //end loginstatus
      }; //end window async
      
      
      // Load the SDK asynchronously
      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/all.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
  </script> 

		<div class="container">
			<% flash.each do |key, value| %>
	        	<%= content_tag(:div, value, class: "alert alert-#{key}") %>
	      	<% end %>
			<%= yield %>
			<%= debug(params) if Rails.env.development? %>
		</div>
</body>
</html>
